/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');


/* adding setting to overide default browser settings*/
* {
    /*using box model as reference to set padding and margins to ZERO. Both are transparent*/
    /*the width and height we assign to an element is applied only to the element's content box*/
    padding: 0;
    margin: 0;
    /*tells the browser to account for any border and padding in the values 
    you specify for an element's width and height.*/
    box-sizing: border-box;
}

header {
    /* using hex code for color Azure */
    background-color: #f0ffff;
    /* padding top,bottom and right left relative to font size of root element*/
    padding: 1rem 1rem;
    width: 100%;
    /*adds shadow effects around the element header frame.*/
    box-shadow: 2px 2px 2px #3a3a3a;
    position: fixed;
}

header a {
    /*Remove Decorations applied to A tag which is a descendant of the header element */
    text-decoration: none;
}

/* Sans-serif Font for our header H1*/
h1 {
    font-family: 'Oswald', sans-serif;
    /*Controls capitalization effects of an element's text*/
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525;
    float: left;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    font-size: 1rem;
    line-height: 40px;
    height: 40px;
    /* li is a block element,set as an inline block here ,to allow they to appear horizontally*/
    display: inline-block;
    margin-left: 2.5%;
}

nav a {
    text-decoration: none;
    display: block;
}

/* visual cue to show user where he is on the website*/
.active {
    border-bottom: 1px solid #3a3a3a
}

/*Main Content*/
main {
    /*Enable flex properties for child elements*/
    display: flex;
    flex-direction: column;
}

/* targetiing the section for background heroimage*/
#heroimage {
    object-fit: scale-down;

}