/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');


/* adding setting to overide default browser settings*/
* {
    /*using box model as reference to set padding and margins to ZERO. Both are transparent*/
    /*the width and height we assign to an element is applied only to the element's content box*/
    padding: 0;
    margin: 0;
    /*tells the browser to account for any border and padding in the values 
    you specify for an element's width and height.*/
    box-sizing: border-box;
}

body {
    /*change background color from default white*/
    background-color:aliceblue;
}

header{
    /*making the position of the header fixed*/
    position: fixed;
    /*media query-relative width value*/
    width:100%;
    /*changing the background color of header element*/
    background-color:bisque;
    /* add a box shadow to seperate header from body element*/
    box-shadow: 0 2px 2px #3a3a3a;
}
header a{
    /*removed the underline from the header Element*/
    text-decoration: none;
}
h1{
    /* add a space between the each word*/
    letter-spacing: 4px;
    color: black;
    padding-left: 2rem;
}
li{
    /*target the line items in unordered list to display horizontally*/
    display: inline-block;
    /* align the margin, border, padding and contents of line element */
    font-size: 17px;
    padding: 2px;
    border-width: 0px;
    margin: 8px;
    width:auto;
}
/* heroimage class created for background hero image*/
#heroimage{
    width: 100%;
    height: 800px;
    background-image: url("../favicon/DSC_6925\ \(1\).png");
    background-size: cover;
    border: 1px solid red;
  }

  /* For mobiles */
@media screen and (max-width: 320px) {
          width: 100%;
}
/* For tablets */
@media screen and (max-width: 768px) {
          width: 100%;
}

