/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');


/* adding setting to overide default browser settings*/
* {
    /*using box model as reference to set padding and margins to ZERO. Both are transparent*/
    /*the width and height we assign to an element is applied only to the element's content box*/
    padding: 0;
    margin: 0;
    /*tells the browser to account for any border and padding in the values 
    you specify for an element's width and height.*/
    box-sizing: border-box;
}

body {
    /*change background color from default white*/
    background-color: aliceblue;
    min-height: 100vh;
}

header {
    /*making the position of the header fixed - disabled #position: fixed;*/
    z-index: 99;
    /*media query-relative width value*/
    width: 100%;
    /*changing the background color of header element*/
    background: bisque;
    /* add a box shadow to seperate header from body element*/
    box-shadow: 0 2px 2px black;
}

header a {
    /*removed the underline from the header Element*/
    text-decoration: none;
    /*adding flex properties to parent of line elements*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: end;
}

h1 {
    /* add a space between the each word*/
    letter-spacing: 4px;
    color: black;
    padding-left: 2rem;
    margin-top: 1rem;
}

.navigation {
    /* adding flex properties to parent of line elements*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: brown;
    font: bolder;
}

.navigation a:hover {
    background: white;
}

/* heroimage class created for background hero image*/
#heroimage {
    width: 100%;
    height: 700px;
    background: url("../favicon/DSC_6925\ \(1\).png") no-repeat center center/cover;
    position: relative;
}

.footer {
    display: flex;
    box-shadow: 3px 0 3px #3a3a3a;
    background-color: bisque;
    flex-direction: row;
    justify-content: space-around;

}
.footerp1 {
    display: flex;
    padding: 6px;
    border-width: 1px;
    margin: 10px;
    color: brown;
    font: bolder;
}

.footerp2 {
    display: flex;
    padding: 6px;
    border-width: 1px;
    margin: 10px;
    color: brown;
    font: bolder;
}








}

/* this section is for Information page styling */

.mainstyling {
    box-sizing: border-box;
    border: 5px solid slategrey;
    display: flex;
    #height: 80vh;
    #width: 100%;
    #gap: 10px;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 1;
    align-items: stretch;
}

.header2style {
    text-align: center;
    flex-basis: 120px;
    align-self: center;
}

.listbeautify1 {
    align-self: flex-start;
    text-align: justify;
}

.listbeautify2 {
    align-self: center;
    text-align: justify;
}

.listbeautify3 {
    align-self: flex-end;
    text-align: left;
    padding-right: 5rem;
}

.Imagesizing {
    align-self: center;
    width: 50%;
    height: 60%;
}

/* This section is for signup page styling*/
.formdivstyle {
    /* this is the parent flex container*/
    display: flex;
    /* this is a parent property to have all children in a row LTR*/
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    #border: 5px solid slategrey;
    #box-sizing: border-box;
}

.parastyling {
    display: flex;
    #align-self: center;
    #justify-content: center;
}