/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');


/* adding setting to overide default browser settings*/
* {
    /*using box model as reference to set padding and margins to ZERO. Both are transparent*/
    /*the width and height we assign to an element is applied only to the element's content box*/
    padding: 0;
    margin: 0;
    /*tells the browser to account for any border and padding in the values 
    you specify for an element's width and height.*/
    box-sizing: border-box;
}

body {
    /*change background color from default white*/
    #background-color: aliceblue;
    min-height: 100vh;
}

header {
    /*making the position of the header fixed - disabled #position: fixed;*/
    z-index: 99;
    /*media query-relative width value*/
    width: 100%;
    /*changing the background color of header element*/
    background-color: bisque;
    /* add a box shadow to seperate header from body element*/
    box-shadow: 0 2px 2px #3a3a3a;

}

header a {
    /*removed the underline from the header Element*/
    text-decoration: none;
    /*adding flex properties to parent of line elements*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: end;
}

h1 {
    /* add a space between the each word*/
    letter-spacing: 4px;
    color: black;
    padding-left: 2rem;
    margin-top: 1rem;

}

nav {
    /* adding flex properties to parent of line elements*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
}

ul>li {
    /*target the line items in unordered list to display horizontally*/
    display: inline-block;
    /* align the margin, border, padding and contents of line element */
    font-size: 17px;
    padding: 2px;
    border-width: 0px;
    margin: 0px;
}

.center {
    /* to position H2 heading in Main content */
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: larger;
}

/* heroimage class created for background hero image*/
#heroimage {
    display: flex;
    width: 100%;
    height: 650px;
    background-image: url("../favicon/DSC_6925\ \(1\).png");
    background-size: contain;
    border: 1px solid red;
}

/* For mobiles */
@media screen and (max-width: 320px) {
    width: 100px;
}

/* For tablets */
@media screen and (max-width: 768px) {
    width: 100px;
}

#footer {
    display: flex;
    box-shadow: 2px 0 2px #3a3a3a;
    background-color: bisque;
}

#footerp {
    display: inline-block;
    padding: 6px;
    border-width: 1px;
    margin: 15px;
    
}

#socialmedia {
    /* Social Media Icons for footer*/
    display: flex;
}

/* this section is for Information page styling */

#Mainstyle {
    min-height: 100vh;
    }

#divoutline {
    display:flex
        
}

#information {
    font-size: x-large;
    padding: 5px;
    border-width: 5px;
    margin: 10px;
}

#header2style {
    font-size: 2rem;
    text-align: center;
    text-decoration-line: underline;
}

#listbeautify {
    list-style-position: outside;
}
#spanbeautify {
    width: fit-content;
}
#Imagesizing{
    width:50%
    
} 