/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');


/* adding setting to overide default browser settings*/
* {
    /*using box model as reference to set padding and margins to ZERO. Both are transparent*/
    /*the width and height we assign to an element is applied only to the element's content box*/
    padding: 0;
    margin: 0;
    /*tells the browser to account for any border and padding in the values 
    you specify for an element's width and height.*/
    box-sizing: border-box;
}

body {
    /*change background color from default white*/
    background-color: aliceblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

header {
    /*making the position of the header fixed - disabled #position: fixed;*/
    z-index: 99;
    /*media query-relative width value*/
    width: 100%;
    /*changing the background color of header element*/
    background: bisque;
    /* add a box shadow to seperate header from body element*/
    box-shadow: 0 2px 2px black;
    margin: 0;
    padding: 0;


}

header a {
    /*removed the underline from the header Element*/
    text-decoration: none;
    /*adding flex properties to parent of line elements*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: end;
}

h1 {
    /* add a space between the each word*/
    letter-spacing: 4px;
    color: black;
    padding-left: 0;
    margin-top: 1rem;
    margin-bottom: 0;
    font: bolder;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-shrink: 1;
    #position: relative;

}

.headernavigation {
    /* adding flex properties to parent of line elements*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}

.headernavigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: brown;
    font: bolder;
    font-family: cursive;
}

.headernavigation a:hover {
    background: white;
}



/* this section is to make Main element take up surplus space and push footer down*/
main {
    flex: 1 0 auto;
    margin-top: auto;
}


/* heroimage class created for background hero image*/
#heroimage {
    width: 100%;
    height: 600px;
    background: url("../favicon/Taj\ Mahal\ Long\ Shot\ \ 1.jpg") no-repeat center center/cover;
    #position: relative;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}


.container:hover {
    color: #494949 !important;
    transition: all 0.3s ease 0s;
}

/*This is applied to the attribute to make the hovering appear in white color*/
#heroimage:hover {
    #image-rendering: ;
}


/* This section is for Gallery page*/
.gallerymasonry img {
    /* this targets the images property when viewed on mobiles*/
    width: 100%;
    /* this makes alt text readable*/
    #line-height: 1em;

}

.gallerymasonry {
    /* remove automatic line height of text-eliminates white space between photos*/
    line-height: 0;
}

/* This section is for FOOTER STYLING */
.footer {
    display: flex;
    box-shadow: 3px 0 3px #3a3a3a;
    background-color: bisque;
    justify-content: space-evenly;
    flex-direction: row;
}

/* this style is applied to h2 header inside footer element- for copyyright*/
.footerh1 {
    display: flex;
    padding: 0px;
    border-width: 3px;
    margin: 0px;
    color: brown;
    font: bolder;
    font-size: large;
    font-family: cursive;
}

/*This is applied to H2 under Footer element- Author statement*/
.footerh2 {
    display: flex;
    padding: 0px;
    border-width: 3px;
    margin: 0px;
    color: brown;
    font: bolder;
    font-size: large;
    font-family: cursive;
}

.footernavigation {
    /* adding flex properties to parent (unordered list) of line elements*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 1px;
}

.footernavigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: brown;
    font: bolder;
}

/*This is applied to the attribute to make the hovering appear in white color*/
.footernavigation a:hover {
    background: cyan;

}

/* This section is for Information Page styling */
.startheader2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.openpara {
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    font-family: cursive
}

.endheader2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 35px;
    color: darkorchid;

}

.maininformation {
    min-height: 90vh;
    background-color: lightyellow;
}

.section1 {
    display: flex;
    flex-wrap: wrap;
    #justify-self: stretch;
    #justify-content: space-around;
    #width: auto;
    #gap: 10px;
    #margin-top: 5px;
    #margin-bottom: 5px;
    #margin-left: 5px;
    #margin-right: 5px;
    align-items: stretch;
    #order: 4;

}


.mainstyling1 {
    background-color: aqua;
    flex-grow: 1;
    flex-basis: 200px;
    #max-width: fit-content;
    #padding: 15px;
    font-family: cursive;
    border-style: solid;
}

.mainstyling2 {
    background-color: magenta;
    flex-grow: 1;
    flex-basis: 200px;
    #padding: 15px;
    border-style: solid;
    font-family: cursive;
    #max-width: fit-content;
}

.mainstyling3 {
    background-color: aqua;
    flex-grow: 1;
    flex-basis: 200px;
    #padding: 15px;
    font-family: cursive;
    border-style: solid;
}

.mainstyling4 {
    background-color: magenta;
    flex-grow: 1;
    flex-basis: 200px;
    #padding: 15px;
    border-style: solid;
    font-family: cursive;
}

.header2style {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.listbeautify {
    display: block;
}

.listbeautify li {
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: black;
    font-family: sans-serif;
}

/* This Section is for Contact Us Page Styling*/
.background {
    background-color: bisque;
}

.h2headercontact {
    font-family: 'Courier New', Courier, monospace;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    text-align: left;

}

.formstyler {
    font-family: 'Courier New', Courier, monospace;
    flex-grow: 1;
    flex-basis: 200px;
    text-align: left;
    padding: 20px
}

.formstyler a {
    #display: block
}

.circle {
    border-radius: 50%;
}

/* Media Query for Large or Landscape Phones (576 px and up) */
@media screen and (min-width: 576px) {

    /* display content in columns based on count specified*/
    .gallerymasonry {
        column-count: 2;
        column-gap: 0;

    }
}

/* Media Query for Tablets and Larger Devices (768 px and up) */
@media screen and (min-width:768px) {
    .gallerymasonry {
        column-count: 2;
    }
}

/* Media Query for Laptops and Desktops (992 px and up) */
@media screen and (min-width:992px) {

    /* This media query is for "Gallery" Page*/
    .gallerymasonry {
        column-count: 4;
        column-gap: 0;
    }

}