/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');


/* adding setting to overide default browser settings*/
* {
    /*using box model as reference to set padding and margins to ZERO. Both are transparent*/
    /*the width and height we assign to an element is applied only to the element's content box*/
    padding: 0;
    margin: 0;
    /*tells the browser to account for any border and padding in the values 
    you specify for an element's width and height.*/
    box-sizing: border-box;
}

/* General styles for the BODY element only. */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*General colour styles for the body*/
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}


/* H1 Color */
header {
    /* using hex code for color Azure */
    background-color: #f0ffff;
    /* padding top,bottom and right left relative to font size of root element*/
    padding: 1rem 1rem;
    position: fixed;
    /*Overlapping elements with a larger z-index cover those with a smaller one*/
    z-index: 99;
    width: 100%;
    /*adds shadow effects around the element header frame.*/
    box-shadow: 2px 2px 2px #3a3a3a;

}

header a {
    /*Remove Decorations applied to A tag which is a descendant of the header element */
    text-decoration: none;
    /*color: inherit;  to check this later*/
}

/* Sans-serif Font for our header H1*/
h1 {
    font-family: 'Oswald', sans-serif;
    /*Controls capitalization effects of an element's text*/
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;

}

#menu {
    /*text at 110%,letter spacing 4px and list-item marker to remove bullet points*/
    letter-spacing: 4px;
    font-size: 110%;
    list-style-type: none;
}

/* here we are spacing nav bar list items vertically*/
#menu>li {
    /*1em means 1 times the size of the current font*/
    margin-bottom: 1em;
    float:right

}

/* visual cue to show user where he is on the website*/
.active {
    border-bottom: 1px solid #3a3a3a
}

nav {
    /*The Nav bar element is positioned relative to its first positioned (not static) ancestor element */
    position: absolute;
    background-color: #f0ffff;
    width: 100%;
    padding: 0rem 1rem;
    left: 0;
    box-shadow: 2px 2px 2px #3a3a3a;
    /* nav bar is hidden until user clicks on it*/
    /*#display: none; to check this later */
}

/* Main */
Main {
    background-color: bisque;
    /*Flex to take up whole space*/
    flex: 1 0 auto;
}

/* more space between h2 and h3 */

/* footer */
footer {
    background-color: lightblue;
    /*adds shadow effects around the footer element frame.*/
    box-shadow: 0px 0px 2px #3a3a3a;
}